<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Finder</title>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- Link CSS from static folder -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <!-- Link JS from static folder -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <h1>Welcome to Book Finder App</h1>
    <p id="subtitle">Enter in a genre to find books</p>

    <input id="genre_input" type="text">
    <button onclick="search()">Search</button>

    <ul id="result_list"></ul>
</body>
</html>